<div class='container'>
  <div class='jumbotron col-md-9 mx-auto shadow-lg p-5'>
    <%= render 'devise/shared/form',
                button: t('send'),
                destination: confirmation_path(resource),
                message: t('resend_instructions_confirmation') %>
  </div>
</div>
