<div class='container'>
  <div class='jumbotron col-md-4 mx-auto shadow-lg p-5'>
    <h1 class='display-4 text-center'><%= t('sign_up') %></h1>
    <%= render 'devise/shared/form',
                message: false,
                destination: registration_path(resource),
                button: t('sign_up') %>
  </div>
</div>
