<div class='container'>
  <div class='jumbotron col-md-4 mx-auto shadow-lg p-5'>
    <h1 class='display-4 text-center'><%= t('sign_in') %></h1>
    <%= render 'devise/shared/form',
                button: t('sign_in'),
                destination: session_path(resource),
                message: false %>
  </div>
</div>
